
/* ------SideBar----- */

body {
    font-family: "Lato", sans-serif;
    margin: 0;
  }
  
  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #10266b;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }





.second_cont{
    display: flex;
    justify-content: center;
}
.chatValue{
    height: 100vh;
    border: 2px solid black;
    border-radius: 5px;
    width: 500px;
}
#userInput{
    width: 80%;
    height: 45px;
}
#btn{
    height: 50px;
    width: 17%;
}
.nav{
    display: flex;
    justify-content: flex-end;
    
}
#signOut{
    width: 100px;
    height: 50px;
    margin: 15px;
}


/* ------navbar------ */


.mainNav{
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  position: fixed;
}
.navbar {
  display: flex;
  justify-content: center;
}
a{
  
  margin: 5px;
  font-size: 18px;
}
a:hover{
  color: aqua;
  transition: 0.5s;

}
