body{
    margin: 0;
    background-color:  #e9ecef;
    
}
@font-face {
    font-family: new;
    src: url(font/Righteous-Regular.ttf);
}
/* #navbar{
    width: 100%;
    height: 100px;
    background-color: #10266b;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);

}
img{
    width: 12%;
    margin: 5px;
} */
h1{
    font-size: 44px;
    color: #10266b;
    font-weight: bold;
    font-family: new;
    
}
input{
    background-color: inherit;
    width: 100%;
    height: 40px;
    border: none;
    padding: 5px;
    font-size: 18px;
    box-shadow: 5px 5px 15px rgb(32 33 36 / 28%);

    border-bottom: 3px solid #10266b;
}
input:focus{
    outline: none;
    
}

.form{
    
    display: flex;
    flex-direction: column;
    width: 50%;
    /* background-color: aqua; */
    align-items: center;
    margin: 0% auto;
    line-height: 50px;
    box-shadow: 5px 5px 15px rgb(32 33 36 / 28%);
    margin-top: 100px; 
    padding-bottom: 30px;
}
label{
    font-size: 24px;
    
    color: #10266b;
    font-family: new;

}
p{
    font-size: 22px;
    font-family: new;

}
button{
    font-family: new;

    width: 104%;
    padding: 10px;
    font-size: 24px;
    border: none;
    margin-top: 20px;
    box-shadow: 5px 5px 15px rgb(32 33 36 / 28%);
    /* border: 1px solid #10266b; */



}
button:hover{
    background-color: #3e5599;
    color: white;
    cursor: pointer;

}
button:active{
    background-color: #10266b;
    color: white;
    cursor: pointer;


}
@media screen and (max-width: 360px) {
    img{
        width: 45%;
    }
    input{
        width: 90%;
        margin-left: 10px;
    }
    .form{
        width: 90%;
    }
    button{
        width: 93%;
        margin-left: 10px;

    }
    label{
        margin-left: 10px;

    }
    p{
        font-size: 16px;
        text-align: center;
    }
}
